@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: 59, 130, 246;
        --primary-color-accent: 37, 99, 235;
        --background: 255, 255, 255;
        --secondary-background: 248, 250, 252;
        --primary-text: 17, 24, 39;
        --secondary-text: 55, 65, 81;
        --light-shade: 226, 232, 240;
    }

    .dark {
        --background: 17, 24, 39;
        --secondary-background: 31, 41, 55;
        --primary-text: 248, 250, 252;
        --secondary-text: 226, 232, 240;
        --light-shade: 17, 24, 39;
    }
}
